/* LINE */
.line {
  height: 2px;
  border-bottom: 1px solid #e8e8e8;
  margin: 3px 3px 23px 3px;
}

/* BLOGITEM */
.section_article {
  display: flex;
  cursor: pointer;
  margin-bottom: 50px;
}

.home_img {
  width: 180px;
  height: 200px;
  margin-right: 20px;
}

.section_article_text {
  font-size: 20px;
  font-weight: bold;
}
