.line {
  height: 2px;
  border-bottom: 1px solid #e8e8e8;
  margin: 3px 3px 30px 3px;
}

.Btn {
  cursor: pointer;
  font-family: "Noto Serif KR", serif;
  border: none;
  background-color: transparent;
  font-weight: bold;
}
